/* fonte da pagina */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@415&display=swap');
body{
    font-family: 'Quicksand', 'sans-serif';
    /* fim da fonte */
    margin: 0;/* grid */
    display: grid;
    grid-template-areas: "cab "
                         "corp  "
                         "pe ";
    /* grid-template-columns: 200px 200px ; */
    /* grid-template-rows: 1fr 2fr 2fr  1fr; */
    
    background-color: aliceblue;
}
header{
    grid-area: cab;
    background-color: rgb(70,130,180);
    height: 135px;
 }
 
 main{
    grid-area: corp;
    background-color: rgb(176,196,222);
    
 }

 footer{
    position:absolute;
    width: 100%;
    bottom: 0;
    grid-area: pe;
    background-color:  rgba(3, 12, 94, 0.938);
    height: 100px;
 }
 
 /* footer{
     grid-area: pe;
     background-color: rgb(70,130,180);
     height: 100px;
     position: relative;
 } */


/* inicio das configuraçoes do card */
h3{
    margin:5px ;
}

button{
    background-color:rgb(70,130,180) ;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    font-size: 17px;
} 
/* fim das configuraçoes do card */

/* configuraçao do menu */
.menu nav{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(15, 14, 87);
    width: 0px;
    transition: all 0.8s ease;
    position: relative;
    margin: 5px;
    bottom: 450px;
}
.menu li{
    list-style: none;
    color: #fffbfb;
    padding: 10px;
    text-align: center;
    font-size: 23px;
}
.menu li a{
    color:#000000;
    text-decoration: none;
}
.menu a span{
    font-size: 0;
    display: block;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.menu label{
    position: relative;
    bottom: 10px;
    font-size: 28px;
    padding-left: 6px;

}

.botaoz{
    display: none;
    color: #72CBFF;
}
.botaoz:checked+nav{
    width: 200px;
    border-radius: 5px;
    padding: 0 20px;
}

.botaoz:checked+nav li{
    border-bottom: dashed 1px rgb(30, 28, 116);
    text-align: left;
}

.botaoz:checked+nav li:last-child{
    border: none;
}

.botaoz:checked+nav a span{
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10px;
}

.fa-bars:hover{
    color: white;
    text-shadow: 1px 1px 8px #fcdbe4;
}

.menu li a:hover{
    color: #31769e;
    text-shadow: 0 0 5px white;
}


.icon{
    width: 70px;
    position: relative;
    bottom: 130px;
    margin-bottom: 300px;
}
/* final das configuracoes do menu */
.logo{
    position: relative;
    align-items: center;
    text-align: center;
    left: 290px;
}