/* main.css */

/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonte da pagina */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@415&display=swap');
body{
    font-family: 'Quicksand', 'sans-serif';
/* fim fonte */
    margin: 0%;
/* grid */
    display: grid;
    grid-template-areas: "cab cab cab"
                         "corp corp corp"
                         "pe pe pe";
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 3fr 1fr;
}


header {
    grid-area: cab;
    background: #d1f4ff;
    padding: 10px;
    display: flex;
    align-items: center;
}

* configuraçao do menu */
.menu nav{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(15, 14, 87);
    width: 0px;
    transition: all 0.8s ease;
    position: relative;
    margin: 5px;
}
.menu li{
    list-style: none;
    color: #fffbfb;
    padding: 10px;
    text-align: center;
    font-size: 23px;
}
.menu li a{
    color:#000000;
    text-decoration: none;
}
.menu a span{
    font-size: 0;
    display: block;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.menu label{
    font-size: 28px;
    padding-left: 6px;

}

.botaoz{
    display: none;
    color: #3e88b3;
}
.botaoz:checked+nav{
    width: 200px;
    border-radius: 5px;
    padding: 0 20px;
}

.botaoz:checked+nav li{
    border-bottom: dashed 1px rgb(63, 116, 167) ;
    text-align: left;
}

.botaoz:checked+nav li:last-child{
    border: none;
}

.botaoz:checked+nav a span{
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10px;
}

.fa-bars:hover{
    color: rgb(217, 243, 255);
    text-shadow: 1px 1px 8px #fcdbe4;
}

.menu li a:hover{
    color: #31769e;
    text-shadow: 0 0 5px rgb(217, 243, 255);
}


.icon{
    width: 70px;
    margin-top: 20px;

}

.chat{
    position: relative;
    left: 60px;
}
/* final menu */

main {
    background-color: #97c2dd;
    grid-area: corp;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que os cartões se ajustem */
    justify-content: center; /* Centraliza os cartões */
}

.card, .card2, .card3{
    background: #ffffff;
    padding: 20px;
    margin: 10px; /* Margem entre os cartões */
    border-radius: 8px;
    width: calc(600px - 40px); /* Largura dos cards */
}

main h1 {
    color: #386ea8; /* Azul para os títulos */
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
}

main h5 {
    color: #555; /* Texto em cinza escuro para subtítulos */
    font-size: 20px;
}

main h4 {
    color: #555; /* Texto em cinza escuro para subtítulos */
    font-size: 20px;
}
main li{
    color: #555; /* Texto em cinza escuro para subtítulos */
    font-size: 17px;
}

.tabela {
    margin-top: 10%;
    width: 500px;
}

footer {
    background: #d6eaf0;
    padding: 20px;
    text-align: center;
    grid-area: pe;
}

footer img {
    margin: 10px;
}

footer h2, footer h3 {
    color: #386ea8; /* Azul para textos do rodapé */
}

