/* fonte da pagina */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@415&display=swap');
body{
    font-family: 'Quicksand', 'sans-serif';
/* fim fonte */
    margin: 0%;
/* grid */
    display: grid;
    grid-template-areas: "cab cab cab"
                         "corp corp corp"
                         "pe pe pe";
    grid-template-columns: 200px 200px;
    grid-template-rows: 1fr 3fr 1fr;
    
}
header{
   grid-area: cab;
   background-color: rgb(70,130,180);
}

main{
   grid-area: corp;
   background-color: rgb(191, 205, 223);
}

footer{
    grid-area: pe;
    background-color: rgb(70,130,180);
}
.card{
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    border-radius: 10px;
    background-color: rgb(86, 129, 172);
    width: 500px;
    height: 900px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 10px 30px rgb(146, 174, 190);
    text-align: center;
}
.card2{
    margin-left: 100px;
    margin-top: 90px;
    margin-bottom: 15px;
    display: flex;
    border-radius: 10px;
    background-color: rgb(86, 129, 172);
    width: 500px;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 30px rgb(146, 174, 190);
    text-align: center;
    position: relative;
    left: 35%;
    bottom: 60%;
}
.card2> h5{
  padding: 5px;
  margin: 3px;
  font-size: x-large;
  margin-bottom: 160px;
}

.card2>h1{
    margin-top: 600px;
}

.card > h5 {
    padding: 10px;
    margin: 5px;
    font-size: x-large;
}
.card > h1{
    font-size: 40px;
}

 main h4{
    position: relative;
    left: 5%;
    bottom: 15%;
    color: rgb(64, 69, 95);
    font-size: xx-large;
 }
.tabela{
    height: 300px;
    width: auto;
    position: relative;
    left: 5%;
    bottom: 20%;
}

/* fim das configuraçoes do card */

/* configuraçao do menu */
.menu nav{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(15, 14, 87);
    width: 0px;
    transition: all 0.8s ease;
    position: relative;
    margin: 5px;
}
.menu li{
    list-style: none;
    color: #fffbfb;
    padding: 10px;
    text-align: center;
    font-size: 23px;
}
.menu li a{
    color:#000000;
    text-decoration: none;
}
.menu a span{
    font-size: 0;
    display: block;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.menu label{
    font-size: 28px;
    padding-left: 6px;

}

.botaoz{
    display: none;
    color: #72CBFF;
}
.botaoz:checked+nav{
    width: 200px;
    border-radius: 5px;
    padding: 0 20px;
}

.botaoz:checked+nav li{
    border-bottom: dashed 1px rgb(30, 28, 116) ;
    text-align: left;
}

.botaoz:checked+nav li:last-child{
    border: none;
}

.botaoz:checked+nav a span{
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10px;
}

.fa-bars:hover{
    color: white;
    text-shadow: 1px 1px 8px #fcdbe4;
}

.menu li a:hover{
    color: #31769e;
    text-shadow: 0 0 5px white;
}


.icon{
    width: 70px;
    margin-top: 20px;

}

.chat{
    position: relative;
    left: 60px;
}
footer h3{
    position: relative;
    left: 40px;
}
footer h2{
    position: relative;
    left: 40px;
}
/* final das configuracoes do menu */